<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EsriApiKey" value ="AAPKada30e486f6d479ea396ebfcea124480Ybn96uQ1Wku6wovEOehQ-1d8qj8W4MDJ4cyd8dKP58UWyg-VYh7dTxndO4vERvM8"/>
    <add key="FlickrApiKey" value ="1d9bcf972d22c4d81bf62778374c0541"/>
    <add key="GetPhotoByTag" value="flickr.photos.search"/>
    <add key="GetGeoInformationPhoto" value="flickr.photos.geo.getLocation"/>
  </appSettings>
</configuration>